<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modules</title>
  <script>document.documentMode && document.write('<script src="./assets/js/ie.js"><\/script>')</script>  
  <script src="./assets/js/vendor.js" async></script>
  <script src="./assets/js/vendor-modules.js" async></script>
  <script src="./assets/js/main.js" defer></script>
  <link rel="stylesheet" href="./assets/css/tailwind.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
<%- include('../@utilitys/_picture.ejs') %>